*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica,sans-serif;
	text-decoration: none;
}
*::before,*::after{
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-size: 3.7vw;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
/*标题设置*/
.topFixed{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.header{
	padding: 5.6vw 0;
	background-color: #D43C33;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header>.topLogo{
	width: 38vw;
	margin-left: 3vw;
}
.header>a{
	padding: 1vw 2vw;
	margin-right: 3vw;
	display: block;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 4vw;
}
.siteNav{
	background-color: #fff;
	display: flex;
	text-align: center;
	border-bottom: 1px solid #dfd7d7;
}
.siteNav>li{
	flex: 1;
}
.siteNav>li>span{
	font-size: 1.1em;
	display: inline-block;
	height: 10vw;
	line-height: 11vw;
	position: relative;
}
.siteNav>li.active>span{
	color: #D43C33;
}
.siteNav>li.active>span:after{
	content: '';
	bottom: -0.7vw;
	left: -1.5vw;
	right: -1.5vw;
	position: absolute;
	padding: 2vw;
	border-bottom: 2px solid #D43C33;
}
.content>li{
	display: none;
}
.content>li.active{
	display: block;
}

.follow{
	padding-top: 29.5vw;
}

/*段落前面的标识标记*/
section>h2{
	line-height: 4.8vw;
	font-size: 1.25em;
	font-weight: normal;
	border-left: 2px solid #D43C33;
	margin: 0 0 5vw 0;
	padding-left: 2vw;
}
.songLists{
	margin-top: 5.5vw;
}
.songLists>ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.songLists>ul>li{
	width: 32.5%;
	margin-bottom: 5vw;
}
.songLists>ul img{
	width: 100%;
}
/*段落出现省略号*/
.songLists p{
	padding: 0 2vw;
	font-size: 0.9em;
  display: -webkit-box;
  line-height: 5vw;
  height: 10vw;
	  -webkit-line-clamp: 2;
	  -webkit-box-orient: vertical;
	  overflow: hidden;
	  text-overflow: ellipsis;
}
/*最新段落一节*/
.latest>p{
	text-align: center;
}

.latest li,
.hotSongLists li{
	margin-bottom: 2vw;
	padding-left: 2vw;
	position: relative;
}

.latest li{
	margin-bottom: 2vw;
	padding-left: 2vw;
	position: relative;
}
.hotSongLists li{
	margin-bottom: 2vw;
	padding-left: 10vw;
	position: relative;
}
.hotSongLists span{
  font-size: 1.2em;
  position: absolute;
  left: 1vw;
  top: 50%;
  transform: translate(0,-50%);
}

.latest li>a,
.hotSongLists li>a{
	color: inherit;
}
.latest h3,
.hotSongLists h3{
	font-weight: normal;
}

.latest ul p,
.hotSongLists li p{
	margin-top: 1vw;
	display: flex;
	align-items: center;
	color: #888;
}
.latestSq{
	fill: #D43C33;
	margin-right: 2vw;
	width: 4vw;
	height: 4vw;
}
.latestStart{
	width: 5.9vw;
	height: 5.9vw;
	position: absolute;
	top: 50%;
	right: 4vw;
	transform: translateY(-50%);
	fill: #888;
}

footer{
	overflow: hidden;
	padding-top: 16vw;
	text-align: center;
	background: url("//s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922") center center no-repeat;
	background-size: cover;
}
footer>.logosvg{
	width: 61.7vw;
}
footer .openApp{
	display: inline-block;
	color: #D43C33;
	margin: 4vw 0 1vw 0;
	line-height: 6vw;
	padding: 2vw 20vw;
	border: 1px solid #D43C33;
	border-radius: 5vw;
}
footer .copyright{
	margin-bottom: 5vw;
	font-size: 3.2vw;
	transform: scale(0.75);
}
/*tab2热歌榜*/
.hotSong{
	height: 40vw;
	background: url("https://s3.music.126.net/m/s/img/hot_music_bg_2x.jpg?f01a252389c26bcf016816242eaa6aee") center center no-repeat;
	background-size: cover;
	position: relative;
	padding: 4vw 6vw;
  margin-bottom: 2vw;
}

.hotSong::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(0,0,0,0.2)
}
.hotSong .houMusic{
	height: 25vw;
	position: relative;
	z-index: 2;
	background: url("https://s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880") center center no-repeat;
  background-size: contain;
  background-position: -7vw -6vw;
}
.loading{
	text-align: center;
}
.hotSong p{
	font-size: 0.8em;
	color: #fff;
	margin-top: -2vw;
  position: relative;
  z-index: 2;
}
/*tab3搜索界面*/
.ipt{
	text-align: center;
	padding: 2vw 1vw;
}
.ipt>#search{
  border: 1px solid #ddd;
  width: 93vw;
  height: 8vw;
  border-radius: 5vw;
  background-color: rgba(0,0,0,0.1);
  padding-left: 5vw;
}
.opt{
	height: 5vw;
	padding: 1vw 7vw;
}
.opt>p>a{
	font-size: 1.1em;
	color: #333;
}
.hotre{
	font-weight: normal;
  margin: 5vw 5vw 0 5vw;
  font-size: 0.95em;
}
.hotLists{
	display: flex;
	flex-wrap: wrap;
}
.hotLists>li span{
	color: #333;
	display: inline-block;
	margin: 2vw 8vw;
}
