
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica,sans-serif;
	text-decoration: none;
}
*::before,*::after{
	box-sizing: border-box;
}
@keyframes circle {
	0%{
		transform: rotate(0deg)
	}
	100%{
		transform: rotate(360deg)
	}
}
.page:after{
    position: absolute;
    top: 0;
    left: 0;
		right: 0;
		bottom: 0;
    content: "";
    background-color: #333;
    opacity: 0.7;
    z-index: 0;
}
.page{
	height: 100vh;
	background: transparent url('http://orztvqno4.bkt.clouddn.com/7.webp') center center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.page .disc-container{
	position: relative;
	z-index: 1;
}
.page .pointer{
	position: absolute;
	width: 24vw;
	left: 50%;
	z-index: 100;
}
.page .disc{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-top: 16vw;
	position: relative;
	border: 1px solid green;
}
.disc .svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 99;
}
.disc svg{
  width: 4em;
  height: 4em;
  border-radius: 50%;
	fill: #fff;
	background-color: rgba(0,0,0,0.6);
}
.disc>.svg>.iconPause{
	display: none;
}
.disc.playing>.svg>.iconStart{
	display: none;
}
.disc.playing>.svg>.iconPause{
	display: block;
}

.disc .ring{
	width: 72vw;
}
.disc .light{
	border: 1px solid red;
	width: 72vw;
	position: absolute;
	top: 0;
}

.disc .image{
	width: 44.5vw;
	border-radius: 50%;
	position: absolute;
}
.disc .light,
.disc .image{
	animation: circle 20s infinite linear;
	animation-play-state: paused;
}
.disc.playing .light,
.disc.playing .image{
	animation-play-state: running;
}
.page .song{
	margin-top: 4vw;
	color: #AEABAC;
	position: relative;
	z-index: 1;
	flex: 1;
}
.page .lyricShow{
	height: 84px;
	overflow: hidden;
}
.page .lyric{
	transition: transform 0.3s;
}
.page .lyric>p.active{
	color: #fff;
}
.page h3{
	color: #fff;
	font-size: 18px;
	margin-bottom: 1vw;
}
.page p{
	font-size: 14px;
	line-height: 28px;
}
.page>.link{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	margin-bottom: 1.5vw;
}
.page .link>a{
	width: 38.5vw;
	margin: 1em;
	text-align: center;
	border: 1px solid #D43B32;
	border-radius: 1.5vw;
	padding: 2vw;
	color: #D43B32;
}
.page .link>a.main{
	background: #D43B32;
	color: #fff;
}

